body{
  background: #b3d4fc;
}
.wrapper {
  display: grid;

  grid-template-columns: repeat(5, minmax(100px,max-content));
  justify-content: space-between;
  grid-auto-rows: auto;
}
.input{
  margin-bottom: 10px;
  background-color: aliceblue;
  border: none;
  height: 30px;
  font-size: 15px;
  padding: 4px;
}
.logo{
  width: 10rem;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}
.form{
  width: 400px;
  display: grid;
  background-color: rgba(226, 229, 232, 0.94);
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: Calibri;
  color: black;
  box-shadow: 7px 13px 37px black;
}
.success{
  margin-top: 1rem;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: #4e8f10;
  color: white;
  border-radius: 10px;
  border: none ;
}
